@import 'https://use.fontawesome.com/releases/v5.0.1/css/all.css?ver=4.9.1';
header,
section,
footer,
article,
figcaption,
hgroup,
figure,
details,
aside,
img,
nav,
time {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
input[type="search"],
input[type="submit"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 0;
  -webkit-border-radius: 0;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
a:active,
a:selected,
a:focus,
a:visited {
  border: none;
  outline: none;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
html > object {
  display: none;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-o-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    /* Safari */
    -o-transform: rotate(0deg);
    /* Opera */
    -moz-transform: rotate(0deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
  100% {
    -webkit-transform: rotate(359deg);
    /* Safari */
    -o-transform: rotate(359deg);
    /* Opera */
    -moz-transform: rotate(359deg);
    /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Internet Explorer */
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  display: block;
}
html body {
  background: -webkit-linear-gradient(to right, #eee, #ddd);
  background: -o-linear-gradient(to right, #eee, #ddd);
  background: -moz-linear-gradient(to right, #eee, #ddd);
  background: linear-gradient(to right, #eee, #ddd);
  display: block;
  position: relative;
}
.loading {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  position: relative;
  margin: 40px 0;
}
.loading:before {
  content: "\f2bd";
  font: bold normal normal 70px/1 'Font Awesome\ 5 Free';
  color: #a73737;
  line-height: 70px;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}
.loading:after {
  content: attr(data-val);
  position: absolute;
  margin: 15px 0 0 0;
  top: 100%;
  font-family: 'Advent Pro', sans-serif;
  line-height: 16px;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
}
.pageHeader {
  padding: 30px 0 45px;
}
.pageHeader h1 {
  margin: 0;
  font-family: 'Advent Pro', sans-serif;
  line-height: 30px;
  font-weight: normal;
  font-size: 28px;
  color: #a73737;
  font-weight: bold;
}
